/* -*- coding: utf-8-unix -*- */

:root {
  --color-background: #fcfcf0;
  --color-text: #374151;
  --font-family-sans-serif: Avenir Next, system-ui, sans-serif;
  --font-family-serif: EB Garamond, Apple Garamond, serif;
  --font-size-main: 16px;
}

html {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-main);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-main);
  line-height: 1.5;
  margin: 0;
  padding: 2.5rem 3rem;
  text-align: center;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.hidden {
  display: none !important;
}

#toast {
  background-color: var(--color-text);
  border-radius: 999px;
  color: white;
  opacity: 1;
  padding: 0.5rem 1rem;
  position: fixed;
  right: 2rem;
  top: 2rem;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-auto-flow: dense;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(6, 1fr);
  text-align: left;
}

.article.size-1 { grid-column: span 1; }
.article.size-2 { grid-column: span 2; }
.article.size-3 { grid-column: span 3; }
.article.size-4 { grid-column: span 4; }

.article h2 {
  font-family: var(--font-family-serif);
  line-height: 1.15;
  margin: 0 0 0.5em 0;
}

.article.size-1 h2 { font-size: 16px; }
.article.size-2 h2 { font-size: 26px; }
.article.size-3 h2 { font-size: 36px; }
.article.size-4 h2 { font-size: 46px; }

.article .description {
  margin: 0.5em 0;
}

.article .meta {
  font-size: 75%;
  margin: 0.5em 0 0.5em -3px;
  opacity: 0.5;
  text-transform: uppercase;
}

.article .meta a[role="button"] {
  padding: 3px;
}

#toggle-junk {
  display: block;
  margin: 1rem 0;
}

.article.muted h2,
.article.muted .description {
  opacity: 0.5;
}

footer {
  margin: 1rem 0 2rem 0;
  opacity: 0.5;
}

#vote-popover::backdrop {
  background: rgb(from var(--color-text) r g b / 0.67);
}

#vote-popover {
  background: var(--color-text);
  border-radius: 36px;
  border: none;
  color: white;
  left: 50%;
  margin: 0;
  padding: 2rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

#vote-popover label {
  display: block;
  font-weight: 600;
  margin: 0 0 24px 0;
  text-align: center;
}

#vote-popover input {
  background: inherit;
  border-radius: 999px;
  border: none !important;
  outline: none !important;
  color: inherit;
  display: block;
  font-family: inherit;
  margin: 24px 0;
  min-width: 300px;
  padding: 12px;
}

#vote-popover input:focus {
  outline: 2px solid rgba(255, 255, 255, 0.1) !important;
}

#vote-popover button {
  background: white;
  border-radius: 999px;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin: 24px 0 0 0;
  padding: 12px;
  width: 100%;
}
